.cart-button{ 
    background-color: rgb(180, 208, 236);
    height: 2.5rem;
    border-radius: 5px;
    width:10rem;
    font-style: oblique;

}
.button{
    position: relative;
    display: flex;
    justify-content: center;
    margin: 2.5rem;

}